body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color : #f8f7f3;
}

.self-align-end {
    align-self: flex-end;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.flex-start {
    align-items: flex-start;
}

.text-danger {
    color: red;
}

.btn-warning {
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-danger {
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-success {
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Header Desktop */

header {
    background-color: #fff;
    color: #333;
    padding: 0 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brand {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
    color: #333;
    margin: 10px;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: row;
}

.right {
    display: flex;
    flex-direction: row;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.link {
    text-decoration: none;
    color: #333;
    text-align: center;
}

.btn-container {
    display: none;
}

/* Footer */
footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 10px;
    text-align: center;
}

.icon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.brand-icon {
    font-size: 1.5rem;
}

.copyright {
    font-size: 0.8rem;
}


/* About Us */

.item-container {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 30px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-us h2 {
    font-size: 1.5rem;
    margin: 0;
}

.contact-us p {
    font-size: 1rem;
    margin: 0;
}

/* Register & Login */

.register-container {
    gap: 15px;
    margin: 10px 10px;
    padding-bottom: 20px;
    border: 1px solid #333;
    border-radius: 10px;
}

.login-container {
    gap: 15px;
    margin: 10px 10px;
    padding-bottom: 20px;
    border: 1px solid #333;
    border-radius: 10px;
}

.title-container {
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #333;
}

.title {
    font-size: 1rem;
    margin: 0;
    padding: 10px;
    color: #333;
}

.box {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.login-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.input-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.input-container label {
    margin: 10px;
    width: 200px;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}

.input-container input {
    width: 300px;
    height: 40px;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}

.login-container form input:focus {
    outline: none;
}

.checkbox-container {
    align-self: flex-end;
    padding: 0 75px;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
}

.checkbox-container .checkbox {
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
}

.checkbox-container label {
    text-align: left;
}

.submit {
    justify-content : space-around;
    padding: 0 75px;
}

.input-container .btn {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}


/* Category */

.categories-container {
    align-items: flex-start;
    gap: 10px;
}

.categories-container h1 {
    margin: 0;
}

#add-categories-btn {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1.5rem;
    cursor: pointer;
}

.categories-container table {
    width: 100%;
    border-radius: 10px;
    padding: 10px 5px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
}

.categories-container table th {
    text-align:left;
}

.category {
    width: 100%;
    gap: 10px;
    align-items: flex-start;
}

.table {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 10px 5px;
    width : 100%;
}

.table th {
    text-align:left;
}

button {
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.category button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

button a {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.blue-safe {
    background-color: lightblue;
}

.red-danger {
    background-color: red;
}

.yellow-warning {
    background-color: yellow;
}

/* #register {
    display: none;
} */

/* Popup */

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10%;
    width: 80%; /* Could be more or less, depending on screen size */
  }

.popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

.popup-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

.close-btn {
    height: 2rem;
    width: 5%;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 1.5rem;
}

.close-btn:hover {
    cursor: pointer;
}

.popup-body {
    gap: 10px;
    padding: 10px;
}

.categories-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 25px;
    gap: 10px;
}

.popup-input {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    width: 100%;
}

.popup-input label {
    text-align: left;
    margin: 10px 0;
}

#category-name {
    width: 100%;
    overflow: hidden;
    padding: 0;
}

/* Media Queries */

/* Header Mobile */

@media only screen and (max-width: 600px) {
header {
    flex-direction: column;
    align-items: flex-start;
}

.brand {
    margin: 10px 0;
}

.nav {
    display: none;
}

.open {
    display: flex;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.link {
    text-decoration: none;
    color: #333;
    text-align: start;
}

.btn-container {
    display: block;
}

.menu-btn {
    position: absolute;
    top: 22px;
    right: 20px;
    height: 30px;
    width: 35px;
    font-size: 1.5rem;
    cursor: pointer;
}

.input-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

.input-container label {
    text-align: left;
    margin: 10px 0;
}

.checkbox-container {
    flex-direction: row;
    align-self: flex-start;
    padding: 0;
}

.checkbox-container .checkbox {
    width: 15px;
    height: 35px;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
}
}